/* ## Reset ## */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ## App ## */
#container-app{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#container-body-app{
  flex: 1;
  margin: 2rem;
}